// Navigation Styles here
.nav-container {
    display: flex;
    background-color: @button-bg;

    .nav-bar {
        flex-direction: row;

    }

    .nav-links {
        padding: 20px;
    }
}



.nav-links